.aboutHome {
  width: 100%;
}
.aboutHome h1 {
  text-align: right;
  width: 100%;
  padding-right: 100px;
}
.aboutHome .benefit{
  margin: 0 auto;
  display: flex;
  width: 100%;
}


.aboutHome .item {
  background-color: #fff;
  width: 100%;
  /* margin-right: 100px; */
  float: right;
  margin-top: 0px;
  padding: 15px;
  border-radius: 10px;
  transition: 0.5s;
}
.aboutHome .img {
  width: 100px;
}
.img img {
  width: 70px;
  height: 70px;
}
.aboutHome .item h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.aboutHome .item p {
  color: #999999;
}
.aboutHome .item:hover {
  background-color: #1791C8;
  color: #fff;
  cursor: pointer;
  scale: 1.001;
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}
.aboutHome .item:hover p {
  color: #fff;
}

/*----------awrapper------------*/

.awrapper {
  background-image: url("../../../public/images/awrapper.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
  color: #fff;
}
.awrapper .box {
  padding: 70px 0;
}
.awrapper img {
  margin-right: 30px;
}
.awrapper h1 {
  font-size: 50px;
}
.awrapper h3 {
  font-size: 20px;
  font-weight: 500;
}
/*----------awrapper------------*/



@media screen and (max-width: 768px) {
  .aboutHome .container {
    flex-direction: column-reverse;
  }
  .aboutHome .row {
    width: 100%;
  }
  .awrapper {
    height: 50vh;
  }
}


