.aboutHome {
  height: auto;
  width: 1300px;
}
.aboutHome #heading {
  text-align: left;
  padding: 0;
}
.aboutHome .left img {
  padding-top: 25rem;
  width: 40vw;
  height: 73%;
  object-fit: cover;
}
.aboutHome .right {
  padding: 160px 50px;
}
.aboutHome .items {
  margin-top: -150px;
}
.aboutHome .item {
  background-color: #fff;
  margin-top: 30px;
  width: 35vw;
  padding: 20px;
  transition: 0.5s;
}
.aboutHome .img {
  width: 200px;
}
.aboutHome img {
  width: 70px;
  height: 70px;
}
.aboutHome .item h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.aboutHome .item p {
  color: #999999;
}
.aboutHome .item:hover {
  background-color: #1791C8;
  color: #fff;
  cursor: pointer;
  scale: 1.001;
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}
.aboutHome .item:hover p {
  color: #fff;
}

/*----------awrapper------------*/

.awrapper {
  background-image: url("../../../public/images/awrapper.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
  color: #fff;
}
.awrapper .box {
  padding: 70px 0;
}
.awrapper img {
  margin-right: 30px;
}
.awrapper h1 {
  font-size: 50px;
}
.awrapper h3 {
  font-size: 20px;
  font-weight: 500;
}

/*----------awrapper resposive------------*/

@media screen and (max-width: 768px) {
  .aboutHome .container {
    flex-direction: column-reverse;
  }
  .aboutHome .row {
    width: 100%;
  }
  .awrapper {
    height: 50vh;
  }
}

/*----------card responsive------------*/

@media screen and (max-width: 1289px) {
  .aboutHome .flexSB {
    flex-direction: column;
    overflow: hidden;
  }
  .aboutHome .right {
    padding: 90px 50px;
  }
  .aboutHome .flexSB .item:first-child {
    margin-top: 200px;
  }
  .aboutHome .left img {
    width: 100%;
    display: None;
  }
}
@media screen and (max-width: 1125px) {
  .aboutHome .item {
    width: 55vw;
  }
}
@media screen and (max-width: 914px) {
  .aboutHome .item {
    width: 65vw;
  }
}